absl-py==0.7.1
alabaster==0.7.12
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.8.1
bleach==3.1.0
certifi==2020.4.5.1
cffi==1.12.3
chardet==3.0.4
cloudpickle==1.2.1
cryptography==2.7
decorator==4.4.0
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
gast==0.2.2
grpcio==1.16.1
h5py==2.9.0
idna==2.8
imagesize==1.1.0
ipykernel==5.1.4
ipython==7.8.0
ipython-genutils==0.2.0
isort==4.3.21
jdcal==1.4.1
jedi==0.15.1
jeepney==0.4
jieba==0.39
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.2
jupyter-client==5.3.1
jupyter-core==4.5.0
Keras==2.2.4
Keras-Applications==1.0.8
keras-bert==0.77.0
keras-embed-sim==0.7.0
keras-layer-normalization==0.13.0
keras-multi-head==0.22.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.41.0
keras-transformer==0.30.0
keyring==18.0.0
lazy-object-proxy==1.4.2
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.0.2
mkl-service==2.0.2
MouseInfo==0.1.3
nbconvert==5.5.0
nbformat==4.4.0
numpy==1.16.4
numpydoc==0.9.1
openpyxl==2.6.2
packaging==19.1
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==2.0.9
protobuf==3.8.0
psutil==5.6.3
ptyprocess==0.6.0
PyAutoGUI==0.9.50
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
PyGetWindow==0.0.8
Pygments==2.4.2
pylint==2.3.1
PyMsgBox==1.0.8
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyperclip==1.8.0
PyRect==0.1.4
pyrsistent==0.14.11
PyScreeze==0.1.26
PySocks==1.7.0
python-dateutil==2.8.0
python3-xlib==0.15
PyTweening==1.0.3
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.5.7
qtconsole==4.5.4
QtPy==1.9.0
requests==2.22.0
rope==0.14.0
scikit-learn==0.21.2
scipy==1.3.1
SecretStorage==3.1.1
sentencepiece==0.1.85
six==1.12.0
snowballstemmer==1.9.0
soupsieve==1.9.3
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.12
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
testpath==0.4.2
tornado==6.0.3
tqdm==4.23.4
traitlets==4.3.2
tushare==1.2.48
typed-ast==1.3.4
ujson==1.35
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
wrapt==1.11.2
wurlitzer==1.0.3
xlrd==1.2.0
